#button_prev, #button_next{
	display:inline-block;
}


.container_left {
    width: 50%;
    float: left;
}  
.container_right{
	width: 50%;
	float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}