#button_prev, #button_next{
	display:inline-block;
}


.container_left {
	display:inline-block;
	height: 600px;
	width: 600px;
}  
.container_right{
	width: 50%;
	float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}