<!doctype html>
<html>
<head>
	<title>Image</title>
</head>
<body>
<p>
	
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		
		{% for message in messages %}
		  <p>{{ message }}</p>
		{% endfor %}
		
	  {% endif %}
	{% endwith %}
</p>
{% if band %}
	<div>
		<img src="{{ url_for('display_image', band=band) }}", height="600", width="600">
	</div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
	<dl>
		<p>
			<label for="band">Band Number</label>
			<input type="number" name="band" id="band">
		</p>
	</dl>
	<div>
		<label for="rgb">Show RGB?</label>
		<input type="radio" id="rgb_yes" name="rgb" value="1">Yes</input>
		<input type="radio" id="rgb_no" name="rgb" value="0" checked>No</input>
	</div>
	<p>
		<input type="submit" value="Submit">
	</p>
</form>
</body>
</html>