{% extends "base.html" %}
{% block content %}

<p>
	
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		
		{% for message in messages %}
		  <p>{{ message }}</p>
		{% endfor %}
		
	  {% endif %}
	{% endwith %}
</p>

	
<div class="container_left">
	<div class="left">
	{% if url %}
		
		<div style="top:3;left:3;position:absolute;">
			<img src="{{ url }}", id="sat_image" onload="setsize()">
		</div>
		<div style="top:3;left:3;position:absolute;">
			<canvas id="can",style="border:2px solid;"></canvas>
		</div>
    </div>
       
    <div class="right">
	{% endif %}
	<!-- doesn't do anything yet. should switch back to pen after eraser is used -->
		
	<input type="radio", name="tool", id="pen", onclick="pen()" checked>
	<label for="pen">Pen<label><br>
	
	<!-- doesn't do anything yet. should switch to eraser that works when finished -->
	
	<input type="radio", name="tool" id="eraser", onclick="erasePen()">
	<label for="eraser">Eraser</label><br>
	
	<!-- doesn't do anything yet. should switch to eraser that works when finished -->
	<input type="button" value="clear" id="clr" size="23" onclick="erase()">
	
	<button onclick="mask()">Create Mask</button> 
	</div>
	
</div>
<div class="container_right">
			<div>
				<ul>
					<li>UTM: {{ utm }}</li>
					<li>Year: {{ year }}</li>
					<li>Date: {{ date }}</li>
					<li>File: {{ file }}</li>
					
					<li>Current Band: {{ bandName }}</li>
					
					<li id="currentlabel" style="visibility: hidden;">{{ current_label }}</li>
				</ul>
			</div>
	<div style="width: 100%;", >
		<div class="dropdown" style="width: 50px; float: left;">
			<button class="dropbtn">Select Band</button>
			<div class="dropdown-content", onclick="this.style.visibility='hidden';">
				<a href="{{ url_for('bands',number=number,band=321) }}"><u>R</u>GB</a>
				<a href="{{ url_for('bands',number=number,band=0) }}">Aerosol</a>
				<a href="{{ url_for('bands',number=number,band=1) }}">Blue</a>
				<a href="{{ url_for('bands',number=number,band=2) }}">Green</a>
				<a href="{{ url_for('bands',number=number,band=3) }}">Red</a>
				<a href="{{ url_for('bands',number=number,band=4) }}">Vegetation -5</a>
				<a href="{{ url_for('bands',number=number,band=5) }}">Vegetation - 6</a>
				<a href="{{ url_for('bands',number=number,band=6) }}">Vegetation -7</a>
				<a href="{{ url_for('bands',number=number,band=7) }}">NIR</a>
				<a href="{{ url_for('bands',number=number,band=8) }}">Narrow NIR</a>
				<a href="{{ url_for('bands',number=number,band=9) }}">Water Vapour</a>
				<a href="{{ url_for('bands',number=number,band=10) }}">SWIR - Cirrus</a>
				<a href="{{ url_for('bands',number=number,band=11) }}">SWIR - 11</a>
				<a href="{{ url_for('bands',number=number,band=12) }}">SWIR - 12</a>
			</div>
		</div>
		<div style="margin-left: 70px;" >	
			<form method="post" id="tagForm">
				{{ nextForm.hidden_tag() }}
				{{ prevForm.hidden_tag() }}
				<p>
					<input type="radio", id="clouds", name="label", value="clouds">
					<label for="clouds"><u>C</u>louds</label><br>
					<input type="radio", id="semi-clouds", name="label", value="semi-clouds">
					<label for="semi-clouds"><u>S</u>emi-Clouds</label><br>
					<input type="radio", id="no-clouds", name="label", value="no-clouds">
					<label for="no-clouds">N<u>o</u> Clouds</label><br>
				</p>
				{{ prevForm.submit3() }}
				{{ nextForm.submit2(onclick="this.style.visibility='hidden';") }}
				
				
			</form>
		</div>
	</div>
		
		
		
</div>
<script type="text/javascript">
	window.appConfig = {
		number: "{{ number }}"
	};
</script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src=" {{ url_for('static', filename='script.js') }}"></script>


{% endblock %}

















