{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<p>
	
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		
		{% for message in messages %}
		  <p>{{ message }}</p>
		{% endfor %}
		
	  {% endif %}
	{% endwith %}
</p>

	
		<div class="container_left">
		{% if url %}
			<img src="{{ url }}", height="600", width="600">
		{% endif %}
		</div>
<div class="container_right">
{% if number or number == 0 %}
		<div>
			<ul>
				<li>UTM: {{ utm }}</li>
				<li>Year: {{ year }}</li>
				<li>Date: {{ date }}</li>
				<li>File: {{ file }}</li>
				{% if current_label %}
				<li>Label: {{ current_label }}</li>
				{% endif %}
			</ul>
		</div>
	
{% endif %}


<form action="" method="post" novalidate id="bandForm">
	{{ form.hidden_tag() }}
	
	<p>
		<label for="band_num">Band Number</label> <br>
		<input type="number", id="band_num", name="band_num", min="0">
	</p>
	<p>
		<label for ="rgb">RGB</label><input type="checkbox", id="rgb", name="rgb">
	</p>
	
	
	<p>{{ form.submit1() }}</p>
	
	
</form>
<form method="post" id="tagForm">
	{{ nextForm.hidden_tag() }}
	<p>
		<input type="radio", id="clouds", name="label", value="clouds">
		<label for="clouds">Clouds</label><br>
		<input type="radio", id="semi-clouds", name="label", value="semi-clouds">
		<label for="semi-clouds">Semi-Clouds</label><br>
		<input type="radio", id="no-clouds", name="label", value="no-clouds">
		<label for="no-clouds">No Clouds</label><br>
	</p>
	
	{{ nextForm.submit2() }}
	<a href="{{ url_for('nav_image',command='prev', number=number, label='None') }}", id="button_prev"><input type="button" value="Previous"></a>
	
</form>
</div>
<script src=" {{ url_for('static', filename='script.js') }}"></script>


{% endblock %}

















